@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
*{
    font-family: 'Overpass', sans-serif;
box-sizing: border-box;
margin: 0;
padding: 0;
}
body{
    background-color: hsl(216, 12%, 8%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;

}
.container{
   width: 1440px;
    display: flex;
    flex-direction: column;
    

}
.star-container{
    background-color: inherit;
    
    margin-right: auto;
    border-radius:50% ;
    margin-left: 30px;
    margin-top: 25px;
    border: none;    
}
.rate-info{
    letter-spacing: 1px;
    margin-bottom: 35px;
margin-left: 10px;
}
.info{
    margin-left: 30px;
    color: hsl(216, 12%, 54%);
    font-weight: 400;
    font-size: 15px;
   margin:0 30px;
   font-family: 'Overpass', sans-serif; 
}
.image-star{
    display: flex;
    justify-content: center;
    align-items: center;
text-align: center;
    background-image: url('./images/icon-star.svg');
    background-position: center;
    background-color:#33475a;
    border-radius: 50%;
        height: 60px;
    width: 60px;
    position: relative;
    background-repeat: no-repeat;

}
.submit{
    border-radius: 25px;
    padding: 15px 0;
      margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    
}
.submit:hover{
    background-color: hsl(25, 97%, 53%) ;
}
.min-container{
    height: auto;
    background-color: hsl(213, 19%, 18%);
    display: flex;
    flex-direction: column;
   
    margin: auto;
    border-radius: 30px;
height: 420px;
width: 420px;



}
.header{
    font-weight: 400;
    color: white;
        margin-top: 25px;
      margin-left: 35px;
   margin-bottom: 10px;
   
}
.total-rating{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
    margin-bottom: 35px;
    margin-left: 30px;
    margin-right: 30px;
}
.rate{
    
    
background-color: #33475a;
 
height: 50px;
width: 50px;
border-radius: 50%;
text-align: center;
margin: auto;
cursor: pointer;


}
.rate:hover{
    background-color: hsl(25, 97%, 53%) ;
}
.rate-pargrapgh{
    text-align: center;
    margin: auto;
    padding: 15px 0;
    color: hsl(0, 0%, 100%);
    
}

.rate.active{
    background-color:hsl(25, 97%, 53%) ;
}

.svg2{
    background-image: url(./images/illustration-thank-you.svg);
    background-repeat: no-repeat;
  background-position: center;  
    height: 250px;
    width: 250px;
    margin-right: 50px;
    margin-top: -100px;
    
    
    
}
.thanks-popup{
        background-color: hsl(213, 19%, 18%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
       margin: auto;
    border-radius: 30px;
height: 420px;
width: 420px;

}
.second-title h3{
    color: hsl(25, 97%, 53%);
    font-weight: 400;
  border: 1px solid #33475a ;
 border-radius: 30px;
 padding: 10px;
    width: 50%;
    transform: translate(50%);
    margin-top: -40px;
    margin-bottom: 40px;
    text-align: center;
    margin-left: -10px;
}
.thankyou-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.thankyou-section p{
  color: hsl(216, 12%, 54%) ; 
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 35px;
}
.thankyou-section h1{
    color: #fff;
    margin-bottom: 25px;
    
}
.hide{
    display: none;
}
@media screen and (width: 680px) {
    .thanks-popup{
        background-color: hsl(213, 19%, 18%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
       margin: auto;
    border-radius: 30px;
height: 300pxx;
width: 300px;
  }
  .min-container{
    height: auto;
    background-color: hsl(213, 19%, 18%);
    display: flex;
    flex-direction: column;
   
    margin: auto;
    border-radius: 30px;
height: 300px;
width: 300px;}
.container{
    width: 375px;
     display: flex;
     flex-direction: column;
    
 
 }}